.blog-post-card{
background-color:#ffffff;
border-radius:20px;
width:300px;
text-align:left;
overflow:hidden;
}
.blog-post-card:hover{
  background-color:#f5f5f5;
}
.post-img{
width:100%;
display:block;
border-bottom:2px solid black;
}
.post-content{
  padding:16px;
}
.post-title{
  color:#152D66;
  margin:12px;
  font-size:15px;
}
.post-excerpt{
  color:#333;
  margin:12px;
}

.read-more{
  color:#958;
  background-color:#1964;
  margin:12px;
  padding:12px;
  border-radius:8px;
  display:inline-block;
}
.read-more:hover{
  background-color:#034958;
}

h2{
  font-family:'Arial', sans-serif;
}

p {
  font-family:arial;
}

